# Práctica Acceso a Base de Datos

### Ejercicio 1

In [63]:
import sqlite3

In [64]:
con = sqlite3.connect("cine.sqlite3")
cur = con.cursor()

In [65]:
#Creación tabla Películas

cur.execute('''DROP TABLE IF EXISTS Peliculas''')

cur.execute('''
CREATE TABLE Peliculas (
    idP INTEGER,
    Titulo TEXT, 
    Año INTEGER,
    Director TEXT,
    CONSTRAINT pk_peliculas PRIMARY KEY (idP))
''')

con.commit()

In [66]:
#Creación tabla Críticos

cur.execute("DROP TABLE IF EXISTS Criticos")

cur.execute('''
CREATE TABLE Criticos (
    idC INTEGER, 
    Nombre TEXT,
    CONSTRAINT pk_criticos PRIMARY KEY (idC))
''')

con.commit()

In [67]:
#Creación tabla Clasificación

cur.execute("DROP TABLE IF EXISTS Clasificacion")

cur.execute('''
CREATE TABLE Clasificacion(
    idC INTEGER, 
    idP INTEGER,
    Estrellas INTEGER, 
    Fecha DATE,
    CONSTRAINT fk_c_clasificacion FOREIGN KEY (idC) REFERENCES Criticos,
    CONSTRAINT fk_p_clasificacion FOREIGN KEY (idP) REFERENCES Peliculas)
''')

con.commit()

In [68]:
#Insercción de datos tabla Películas

peliculas = [
    (101, "Lo que el viento se llevó", 1939, "Victor Fleming"),
    (102, "La guerra de las galaxias", 1939, "George Lucas"),
    (103, "Sonrisas y lágrimas", 1939, "Robert Wise"),
    (104, "ET", 1982, "Steven Spielberg"),
    (105, "Titanic", 1997, "James Cameron"),
    (106, "Blancanieves y los siete enanitos", 1937, "Null"),
    (107, "Avatar", 2009, "James Cameron"),
    (108, "En busca del arca perdida", 1981, "Steven Spielberg")
]

for p in peliculas:
    cur.execute("INSERT INTO Peliculas (idP, Titulo, Año, Director) VALUES (?, ?, ?, ?)", p)
    
con.commit()

In [69]:
for row in cur.execute('SELECT * FROM Peliculas'):
    print (row)

(101, 'Lo que el viento se llevó', 1939, 'Victor Fleming')
(102, 'La guerra de las galaxias', 1939, 'George Lucas')
(103, 'Sonrisas y lágrimas', 1939, 'Robert Wise')
(104, 'ET', 1982, 'Steven Spielberg')
(105, 'Titanic', 1997, 'James Cameron')
(106, 'Blancanieves y los siete enanitos', 1937, 'Null')
(107, 'Avatar', 2009, 'James Cameron')
(108, 'En busca del arca perdida', 1981, 'Steven Spielberg')

In [70]:
#Insercción de datos tabla Criticos

criticos = [(201, "Sara Martinez"), 
            (202, "Daniel Pérez"), 
            (203, "Amalia Sierra"), 
            (204, "Paloma Sánchez"), 
            (205, "Miguel Hernández"),
            (206, "Juán García"), 
            (207, "James Cameron"),
            (208, "Isabel Sanz")]

for c in criticos:
    cur.execute("INSERT INTO Criticos (idC, Nombre) VALUES (?, ?)", c)
    
con.commit()

In [71]:
for row in cur.execute('SELECT * FROM Criticos'):
    print (row)

(201, 'Sara Martinez')
(202, 'Daniel Pérez')
(203, 'Amalia Sierra')
(204, 'Paloma Sánchez')
(205, 'Miguel Hernández')
(206, 'Juán García')
(207, 'James Cameron')
(208, 'Isabel Sanz')

In [72]:
#Insercción de datos tabla Clasificación

clasificacion = [(201, 101, 2, 2018-1-22),
                (201, 101, 4, 2018-1-27),
                (202, 106, 4, None),
                (203, 108, 4, 2018-1-12),
                (203, 108, 2, 2018-1-30),
                (204, 101, 3, 2018-1-9),
                (205, 103, 3, 2018-1-27),
                (205, 104, 2, 2018-1-22),
                (205, 108, 4, None),
                (206, 107, 3, 2018-1-15),
                (206, 106, 5, 2018-1-19),
                (207, 107, 5, 2018-1-20),
                (208, 104, 3, 2018-1-2)]

for c in clasificacion:
    cur.execute("INSERT INTO Clasificacion (idC, idP, Estrellas, Fecha) VALUES (?, ?, ?, ?)", c)

In [73]:
for row in cur.execute('SELECT * FROM Clasificacion'):
    print (row)

(201, 101, 2, 1995)
(201, 101, 4, 1990)
(202, 106, 4, None)
(203, 108, 4, 2005)
(203, 108, 2, 1987)
(204, 101, 3, 2008)
(205, 103, 3, 1990)
(205, 104, 2, 1995)
(205, 108, 4, None)
(206, 107, 3, 2002)
(206, 106, 5, 1998)
(207, 107, 5, 1997)
(208, 104, 3, 2015)

### Ejercicio 2

#### Año de peliculas con 4 o 5 estrellas.

In [74]:
cur.execute('''
SELECT Fecha FROM Clasificacion 
WHERE Estrellas = 4 | 5
ORDER BY Fecha ASC
''')

In [75]:
for i in (cur):
    print(i[0])

1997
1998

#### Encontrar críticos con 3 o más calificaciones.

In [76]:
cur.execute('''
SELECT Nombre FROM Criticos, Clasificacion
WHERE Criticos.idC = Clasificacion.idC
GROUP BY Clasificacion.idC
HAVING COUNT(Clasificacion.idC)>=3
''')

In [77]:
for i in (cur):
    print(i[0])

Miguel Hernández

#### Listar películas y calificaciones promedio.

In [78]:
cur.execute('''
SELECT Titulo, ROUND(AVG(Estrellas), 1) AS promedio FROM Peliculas, Clasificacion 
WHERE Peliculas.idP = Clasificacion.idP
GROUP BY Clasificacion.idP
ORDER BY promedio, Titulo
''')

In [79]:
cont = 1

for i in (cur):
    print("- Pelicula " + str(cont))
    print("\tTitulo: ", i[0]) 
    print("\tEstrellas: ", i[1], "\n")
    cont += 1

- Pelicula 1
	Titulo:  ET
	Estrellas:  2.5

- Pelicula 2
	Titulo:  Lo que el viento se llevó
	Estrellas:  3.0

- Pelicula 3
	Titulo:  Sonrisas y lágrimas
	Estrellas:  3.0

- Pelicula 4
	Titulo:  En busca del arca perdida
	Estrellas:  3.3

- Pelicula 5
	Titulo:  Avatar
	Estrellas:  4.0

- Pelicula 6
	Titulo:  Blancanieves y los siete enanitos
	Estrellas:  4.5

#### Encontrar la mejor calificación de una película.

In [80]:
cur.execute('''
SELECT Titulo, MAX(Estrellas) FROM Clasificacion, Peliculas 
WHERE Clasificacion.idP = Peliculas.idP
GROUP BY Clasificacion.idP
ORDER BY Titulo
''')

In [81]:
cont = 1

for i in (cur):
    print("- Pelicula " + str(cont))
    print("\tTitulo: ", i[0]) 
    print("\tEstrellas: ", i[1], "\n")
    cont += 1

- Pelicula 1
	Titulo:  Avatar
	Estrellas:  5

- Pelicula 2
	Titulo:  Blancanieves y los siete enanitos
	Estrellas:  5

- Pelicula 3
	Titulo:  ET
	Estrellas:  3

- Pelicula 4
	Titulo:  En busca del arca perdida
	Estrellas:  4

- Pelicula 5
	Titulo:  Lo que el viento se llevó
	Estrellas:  4

- Pelicula 6
	Titulo:  Sonrisas y lágrimas
	Estrellas:  3

#### Añadir 25 al año de la pelicula con una calificación promedio de 4 o más.

In [82]:
cur.execute('''
SELECT Titulo, Fecha + 25, ROUND(AVG(Estrellas), 1) AS promedio FROM Peliculas, Clasificacion 
WHERE Peliculas.idP = Clasificacion.idP
GROUP BY Clasificacion.idP
HAVING promedio >= 4
ORDER BY promedio, Titulo
''')

In [83]:
cont = 1

for i in (cur):
    print("- Pelicula " + str(cont))
    print("\tTitulo: ", i[0]) 
    print("\tFecha: ", i[1]) 
    print("\tEstrellas: ", i[2], "\n")
    cont += 1

- Pelicula 1
	Titulo:  Avatar
	Fecha:  2022
	Estrellas:  4.0

- Pelicula 2
	Titulo:  Blancanieves y los siete enanitos
	Fecha:  2023
	Estrellas:  4.5

#### Eliminar clasificaciones anteriores al 1970 o posteriores a 2000 y con calificación inferior a 4 estrellas.

In [87]:
cur.execute('''
DELETE FROM Clasificacion
WHERE idP IN (SELECT idP FROM Peliculas WHERE Año < 1970 OR Año > 2000) AND Estrellas < 4
''')

In [88]:
cur.execute('''
SELECT * FROM Clasificacion
''')

In [89]:
cont = 1

for i in (cur):
    print("- Clasifiacion " + str(cont))
    print("\tPelicula: ", i[0]) 
    print("\tCritico: ", i[1]) 
    print("\tFecha: ", i[3]) 
    print("\tEstrellas: ", i[2], "\n")
    cont += 1

- Clasifiacion 1
	Pelicula:  201
	Critico:  101
	Fecha:  1990
	Estrellas:  4

- Clasifiacion 2
	Pelicula:  202
	Critico:  106
	Fecha:  None
	Estrellas:  4

- Clasifiacion 3
	Pelicula:  203
	Critico:  108
	Fecha:  2005
	Estrellas:  4

- Clasifiacion 4
	Pelicula:  203
	Critico:  108
	Fecha:  1987
	Estrellas:  2

- Clasifiacion 5
	Pelicula:  205
	Critico:  104
	Fecha:  1995
	Estrellas:  2

- Clasifiacion 6
	Pelicula:  205
	Critico:  108
	Fecha:  None
	Estrellas:  4

- Clasifiacion 7
	Pelicula:  206
	Critico:  106
	Fecha:  1998
	Estrellas:  5

- Clasifiacion 8
	Pelicula:  207
	Critico:  107
	Fecha:  1997
	Estrellas:  5

- Clasifiacion 9
	Pelicula:  208
	Critico:  104
	Fecha:  2015
	Estrellas:  3

### Cerramos el cursor y la conexión de la BD.

In [61]:
cur.close()

In [62]:
con.close()