In [1]:
import sqlite3
import os

In [2]:
def mostrarResultadosConsulta(cursor):
    for fila in cursor:
        print (fila)

# Ejercicio 1

In [3]:
if os.path.exists("cine.sqlite3"):
        os.remove("cine.sqlite3")
connection = sqlite3.connect("cine.sqlite3")
cursor = connection.cursor()

### Crear tabla Peliculas e insertar filas

In [4]:
'''
Consulta: 
CREATE TABLE Peliculas (
    IdP INTEGER,
    Titulo TEXT,
    Año INTEGER,
    Director TEXT,
    CONSTRAINT pk_peliculas PRIMARY KEY(idP)
)
'''
cursor.execute("CREATE TABLE Peliculas (IdP INTEGER, Titulo TEXT, Año INTEGER, Director TEXT, CONSTRAINT pk_peliculas PRIMARY KEY(idP))")

In [5]:
peliculas= [()]

cursor.execute("INSERT INTO Peliculas VALUES (101, 'Lo que el viento se llevó', 1939, 'Victor Fleming')")
cursor.execute("INSERT INTO Peliculas VALUES (102, 'La guerra de las galaxias', 1979, 'George Lucas')")
cursor.execute("INSERT INTO Peliculas VALUES (103, 'Sonrisas y lágrimas', 1939, 'Robert Wise')")
cursor.execute("INSERT INTO Peliculas VALUES (104, 'ET', 1982, 'Steven Spielberg')")
cursor.execute("INSERT INTO Peliculas VALUES (105, 'Titanic', 1997, 'James Cameron')")
cursor.execute("INSERT INTO Peliculas VALUES (106, 'Blancanieves y los siete enanitos', 1937, NULL)")
cursor.execute("INSERT INTO Peliculas VALUES (107, 'Avatar', 2009, 'James Cameron')")
cursor.execute("INSERT INTO Peliculas VALUES (108, 'En busca del arca perdida', 1981, 'Steven Spielberg')")

In [6]:
cursor.execute("SELECT * FROM Peliculas")
mostrarResultadosConsulta(cursor)

(101, 'Lo que el viento se llevó', 1939, 'Victor Fleming')
(102, 'La guerra de las galaxias', 1979, 'George Lucas')
(103, 'Sonrisas y lágrimas', 1939, 'Robert Wise')
(104, 'ET', 1982, 'Steven Spielberg')
(105, 'Titanic', 1997, 'James Cameron')
(106, 'Blancanieves y los siete enanitos', 1937, None)
(107, 'Avatar', 2009, 'James Cameron')
(108, 'En busca del arca perdida', 1981, 'Steven Spielberg')

### Crear tabla Criticos en insertar filas

In [7]:
'''
Consulta: 
CREATE TABLE Criticos (
    IdC INTEGER,
    Nombre TEXT
    CONSTRAINT pk_criticos PRIMARY KEY(idC)
)
'''
cursor.execute("CREATE TABLE Criticos (IdC INTEGER, Nombre TEXT, CONSTRAINT pk_criticos PRIMARY KEY(idC))")

In [8]:
cursor.execute("INSERT INTO Criticos VALUES (201, 'Sara Martínez')")
cursor.execute("INSERT INTO Criticos VALUES (202, 'Daniel Pérez')")
cursor.execute("INSERT INTO Criticos VALUES (203, 'Amalia Sierra')")
cursor.execute("INSERT INTO Criticos VALUES (204, 'Paloma Sánchez')")
cursor.execute("INSERT INTO Criticos VALUES (205, 'Miguel Hernández')")
cursor.execute("INSERT INTO Criticos VALUES (206, 'Juan García')")
cursor.execute("INSERT INTO Criticos VALUES (207, 'James Cameron')")
cursor.execute("INSERT INTO Criticos VALUES (208, 'Isabel Sanz')")

In [9]:
cursor.execute("SELECT * FROM Criticos")
mostrarResultadosConsulta(cursor)

(201, 'Sara Martínez')
(202, 'Daniel Pérez')
(203, 'Amalia Sierra')
(204, 'Paloma Sánchez')
(205, 'Miguel Hernández')
(206, 'Juan García')
(207, 'James Cameron')
(208, 'Isabel Sanz')

### Crear tabla Clasificacion e insertar filas

In [10]:
'''
Consulta: 
CREATE TABLE Clasificacion (
    IdC INTEGER,
    IdP INTEGER,
    Estrellas INTEGER,
    Fecha TEXT,
    CONSTRAINT pk_clasificacion PRIMARY KEY(IdC, IdP),
    CONSTRAINT fk_idCritico_clasificacion FOREIGN KEY(IdC) REFERENCES Criticos(IdC),
    CONSTRAINT fk_idPeliculas_clasificacion FOREIGN KEY(IdP) REFERENCES Peliculas(idP)
)
'''
cursor.execute("CREATE TABLE Clasificacion (IdC INTEGER, IdP INTEGER, Estrellas INTEGER, Fecha TEXT, CONSTRAINT fk_idCritico_clasificacion FOREIGN KEY(IdC) REFERENCES Criticos(IdC),CONSTRAINT fk_idPeliculas_clasificacion FOREIGN KEY(IdP) REFERENCES Peliculas(idP))")

In [11]:
cursor.execute("INSERT INTO Clasificacion VALUES (201, 101, 2, '2018-01-22')")
cursor.execute("INSERT INTO Clasificacion VALUES (201, 101, 4, '2018-01-27')")
cursor.execute("INSERT INTO Clasificacion VALUES (202, 106, 4, NULL)")
cursor.execute("INSERT INTO Clasificacion VALUES (203, 103, 2, '2018-01-20')")
cursor.execute("INSERT INTO Clasificacion VALUES (203, 108, 4, '2018-01-12')")
cursor.execute("INSERT INTO Clasificacion VALUES (203, 108, 2, '2018-01-30')")
cursor.execute("INSERT INTO Clasificacion VALUES (204, 101, 3, '2018-01-09')")
cursor.execute("INSERT INTO Clasificacion VALUES (205, 103, 3, '2018-01-27')")
cursor.execute("INSERT INTO Clasificacion VALUES (205, 104, 2, '2018-01-22')")
cursor.execute("INSERT INTO Clasificacion VALUES (205, 108, 4, NULL)")
cursor.execute("INSERT INTO Clasificacion VALUES (206, 107, 3, '2018-01-15')")
cursor.execute("INSERT INTO Clasificacion VALUES (206, 106, 5, '2018-01-19')")
cursor.execute("INSERT INTO Clasificacion VALUES (207, 107, 5, '2018-01-20')")
cursor.execute("INSERT INTO Clasificacion VALUES (208, 104, 3, '2018-01-02')")

In [12]:
cursor.execute("SELECT * FROM Clasificacion")
mostrarResultadosConsulta(cursor)

(201, 101, 2, '2018-01-22')
(201, 101, 4, '2018-01-27')
(202, 106, 4, None)
(203, 103, 2, '2018-01-20')
(203, 108, 4, '2018-01-12')
(203, 108, 2, '2018-01-30')
(204, 101, 3, '2018-01-09')
(205, 103, 3, '2018-01-27')
(205, 104, 2, '2018-01-22')
(205, 108, 4, None)
(206, 107, 3, '2018-01-15')
(206, 106, 5, '2018-01-19')
(207, 107, 5, '2018-01-20')
(208, 104, 3, '2018-01-02')

# Ejercicio 2

### Encontrar todos los años que tengan una película que recibió una calificación de 4 o 5 ordenados crecientemente

In [13]:
'''
Consulta: 
SELECT Año, Titulo
FROM Peliculas
WHERE IdP IN (SELECT IdP
              FROM Clasificacion
              WHERE Estrellas = 4
              OR Estrellas = 5)
ORDER BY ASC
'''
cursor.execute("SELECT Año, Titulo FROM Peliculas WHERE IdP IN (SELECT IdP FROM Clasificacion WHERE Estrellas = 4 OR Estrellas = 5) ORDER BY Año ASC")
mostrarResultadosConsulta(cursor)

(1937, 'Blancanieves y los siete enanitos')
(1939, 'Lo que el viento se llevó')
(1981, 'En busca del arca perdida')
(2009, 'Avatar')

### Encontrar los nombres de todos los críticos que hayan contribuido con tres o más calificaciones

In [14]:
'''
Consulta: 
SELECT Nombre
FROM Criticos
WHERE IdC IN (SELECT IdC
              FROM Clasificacion
              GROUP BY IdC
              HAVING COUNT(*) >= 3)
'''
cursor.execute("SELECT Nombre FROM Criticos WHERE IdC IN (SELECT IdC FROM Clasificacion GROUP BY IdC HAVING COUNT(*) >= 3)")
mostrarResultadosConsulta(cursor)

('Amalia Sierra',)
('Miguel Hernández',)

### Listar los títulos de películas y clasificaciones promedio, desde las más altas a las más bajas. Si dos o más películas tienen la misma calificación promedio, se pide mostrarlas en orden alfabético

In [15]:
'''
Consulta: 
SELECT Titulo, ROUND(AVG(Estrellas), 1) AS calificacionMedia
FROM Peliculas P, Clasificacion C
WHERE P.idP = C.IdP
GROUP BY Titulo
ORDER BY calificacionMedia, Titulo ASC
'''
cursor.execute("SELECT Titulo, ROUND(AVG(Estrellas), 1) AS calificacionMedia FROM Peliculas P, Clasificacion C WHERE P.idP = C.IdP GROUP BY Titulo ORDER BY calificacionMedia, Titulo ASC")
mostrarResultadosConsulta(cursor)

('ET', 2.5)
('Sonrisas y lágrimas', 2.5)
('Lo que el viento se llevó', 3.0)
('En busca del arca perdida', 3.3)
('Avatar', 4.0)
('Blancanieves y los siete enanitos', 4.5)

### Para cada película que tenga al menos una clasificación, encontrar la mayor cantidad de estrellas que recibió la película. Devolver el título de la película y el número de estrellas. Ordenar por título de película

In [16]:
'''
Consulta: 
SELECT Titulo, MAX(Estrellas) as maximaPuntuacion
FROM Peliculas P, Clasificacion C
WHERE P.idP = C.IdP
GROUP BY Titulo
ORDER BY Titulo ASC
'''
cursor.execute("SELECT Titulo, MAX(Estrellas) as maximaPuntuacion FROM Peliculas P, Clasificacion C WHERE P.IdP = C.IdP GROUP BY Titulo ORDER BY Titulo ASC")
mostrarResultadosConsulta(cursor)

('Avatar', 5)
('Blancanieves y los siete enanitos', 5)
('ET', 3)
('En busca del arca perdida', 4)
('Lo que el viento se llevó', 4)
('Sonrisas y lágrimas', 3)

### Para todas las películas que tengan una calificación promedio de 4 estrellas o más, se pide añadir 25 al año de lanzamiento

In [17]:
'''
Consulta: 
UPDATE Peliculas
SET Año = Año + 25
WHERE IdP IN (SELECT IdP
              FROM Clasificacion
              GROUP BY IdP
              HAVING AVG(Estrellas) >= 4)
'''
cursor.execute("UPDATE Peliculas SET Año = Año + 25 WHERE IdP IN (SELECT IdP FROM Clasificacion GROUP BY IdP HAVING AVG(Estrellas) >= 4)")

In [18]:
# Tiene que haber actualizado sólo 'Avatar' y 'Blancanieves y los siete enanitos'
cursor.execute("SELECT * FROM Peliculas")
mostrarResultadosConsulta(cursor)

(101, 'Lo que el viento se llevó', 1939, 'Victor Fleming')
(102, 'La guerra de las galaxias', 1979, 'George Lucas')
(103, 'Sonrisas y lágrimas', 1939, 'Robert Wise')
(104, 'ET', 1982, 'Steven Spielberg')
(105, 'Titanic', 1997, 'James Cameron')
(106, 'Blancanieves y los siete enanitos', 1962, None)
(107, 'Avatar', 2034, 'James Cameron')
(108, 'En busca del arca perdida', 1981, 'Steven Spielberg')

### Eliminar todas las clasificaciones donde el año de la película sea anterior a 1970 o después de 2000, y la calificación sea inferior a 4 estrellas

In [19]:
'''
Consulta: 
DELETE FROM Clasificacion
WHERE Estrellas < 4
AND IdP IN (SELECT IdP
            FROM Peliculas
            WHERE Año < 1970
            OR Año > 2000)
'''
cursor.execute("DELETE FROM Clasificacion WHERE Estrellas < 4 AND IdP IN (SELECT IdP FROM Peliculas WHERE Año < 1970 OR Año > 2000)")

In [20]:
# Tiene que haber borrado las filas con ids '201-101' (había dos filas 
# con este par, una  con 4 estrellas o más y la otra con menos de 4),
# '203-103', '204-101', '205-103'
cursor.execute("SELECT * FROM Clasificacion")
mostrarResultadosConsulta(cursor)

(201, 101, 4, '2018-01-27')
(202, 106, 4, None)
(203, 108, 4, '2018-01-12')
(203, 108, 2, '2018-01-30')
(205, 104, 2, '2018-01-22')
(205, 108, 4, None)
(206, 106, 5, '2018-01-19')
(207, 107, 5, '2018-01-20')
(208, 104, 3, '2018-01-02')

In [21]:
connection.commit()
cursor.close()